[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113/torch_stable.html"
verify_ssl = true
name = "torch"

[packages]
torch = { version = "==1.10.0", index = "torch" }
torchvision = { version = "==0.11.1", index = "torch" }
torchaudio = { version = "==0.10.0", index = "torch" }
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.9"
